body {
    font-size: 10px;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid lightgrey;
    padding: 3px;
}

.holder {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
}

.col {
    border: 1px solid lightgray;
}

.red {
    color: red;
}

.green {
    color: green;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.button-holder {
    margin-top: 10px;
    margin-bottom: 10px;
}

.lastpricedate {
    font-weight: normal;
}

button {
    font-size: 12px;
}

.main {
    margin: 0 auto;
    margin-bottom: 50px;
}

.sector-or-industry {
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.sector-second {
    margin-bottom: 5px;
}

.sector-heading-element,
.industry-heading-element {
    width: 120px;
    padding-top: 3px;
}



.sector-heading {
    background-color: rgb(217, 218, 219);
    font-weight: bold;
}

.sector-heading,
.industry-heading {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 5px;
    padding: 2px;

}

.industry-heading-element-name,
.sector-heading-element-name {
    width: 200px;
}

.industry-span {
    padding-left: 10px;
}

.hidden {
    display: none;
}

.collection-name {
    font-weight: normal;
}